*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin-left: 10px;
    margin-right: 10px;
}
/*Classes Auxiliares*/
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear {
    clear: both;
}
.w33{
    float: left;
    width: 25%;
}
/*Classes do footer*/
div.container{
    z-index: 5;
}
section.footer{
    position: relative;;
    padding: 20px 0;
    top: 50px;
}
section.footer > .container{
    position: relative;;
    padding: 20px 0;
    top: 80px;
}
section.footer i{
    color: #856DD7;
    font-size: 18px;
}
.logo-footer{ 
    position:absolute;
	left:50%;
	margin-left:-110px;
}
section.footer h2{
    font-size: 15px;
    font-weight: bold;
}
section.footer p{
    font-size: 12px;
    color: #777777;
    font-weight: normal;
}
section.footer a{
    display: block;

}
section.footer a:hover{
    /* text-decoration: none; */
    
}
div.group-icons a{
    display: inline-block;
    margin: 0 10px 0 0;
}
div.img-footer{ 
    max-width: 100%;
    position: relative;
    transform: translate(-19%, -0%);  
}
div.img-footer2 img{
    max-width: 90%;
    margin: 0;
    position: absolute;
    top: 56%;   
    margin-left: 60px;
    margin-right: -50px;
}
div.img-footer3 img{
    max-width: 90%;
    margin: 0;
    position: absolute;
    top: 61.5%;   
    margin-left: 180px;
    margin-right: -20px;
}
div.img-footer4 img{
    max-width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;   
    margin-left: 850px;
}

